img{
  border-radius: 5000px;
  size: 300px;
  }

body{
  font-family: Times New Roman;
  background-image: url(https://i.imgur.com/XmKZcVc.jpg);
  color: white;
  text-align:center;
}

body > * {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
}

h2{
  font-size: 18px;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: inline-block; /* Use inline-block to ensure buttons don't take full width */
  color: slateblue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 150px; /* Set a minimum width if you prefer uniform button sizes */
}

a:hover {
  background-color: pink;
  color: maroon;
}

img:hover{
  animation: wobble 0.5s infinite alternate;
}

@keyframes wobble {
  0% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
}

.recent-project h2 {
  font-size: 22px;
  margin-top: 30px;
  color: lightpink;
}

.project-button {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  color: slateblue;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 150px;
  text-decoration: none;
}

.project-button:hover {
  background-color: pink;
  color: maroon;
}

.recent-project {
  margin-top: 40px; /* Adjust the space here */
}